$text-font: Tahoma, Helvetica, Arial, sans-serif;
$text-color: #1f1a17;
$link-color: #7297aa;


$main-bg: #f7f9fb;
$placeholder-color: #ccd4d8;

// normal
$text-size: 2.0rem;
$text-height: 2.8rem;

$chat-sidebar-width: 170px;
$chat-content-width: 600px;
$chat-width: $chat-sidebar-width + $chat-content-width;
$chat-form-height: 40px;