.chat {
    position: relative;
    width: $chat-width;
    margin: 0 auto;
    height: 100%;

    .user-pick {
        display: flex;
        align-items: center;

        .userpick-badge {
            border-radius: 5px;
            font-size: 1.2rem;
            color: #fff;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                width: 19px;
                height: 19px;
            }
        }

        .userpick-name {
            padding-left: 6px;
            font-size: 1.6rem;

            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            flex: 1 100%;
        }

        .userpick-name:first-letter {
            text-transform: uppercase;
        }
    }

    aside {
        position: fixed;
        width: $chat-sidebar-width;

        header {
            display: flex;
            justify-content: space-between;
            padding:  25px 11px;
        }
        .user-list {
            padding-bottom: 25px;
        }
        .ban-list {
            .userpick-badge {
                background: #ccced0 !important;
                color: #fff;
            }
            .userpick-name {
                color: #b9bbbd;
            }

        }
        li {
            display: block;
            position: relative;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                display: block;
                height: 2px;
                bottom: 0;
                left: 10px;
                right: 0;
                background: #ebf0f3;
            }

            .chat-userpick {
                padding: 11px 20px 11px 11px;
            }
            .btn-toggle {
                background: none;
                border: none;
                cursor: pointer;
                position: absolute;
                z-index: 1;
                top: 10px;
                right: 10px;
                color: #8e9296;
            }
        }
        .list-title {
            font-size: 12px;
            padding-left: 20px;
        }
        .all-users {
            button {
                display: none;
            }
            .chat-userpick {
                padding-right: 11px;
                .userpick-name {
                    font-weight: bold;
                    color: $text-color;
                }
                .userpick-badge {
                    border: 1px solid #c7cbce;
                    background: #fff;
                    span {
                        width: 18px;
                        height: 18px;
                        color: $text-color;
                    }
                }
            }
        }
        .chat-userpick {
            display: block;
            width: 100%;
            text-decoration: none;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;

            &.active {
                background: #e0e7eb;
            }

        }

    }

    .chat-messages,
    .chat-form {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        margin-left: $chat-sidebar-width;
    }
    .chat-messages {
        background: #fff;
        padding-bottom: $chat-form-height;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        ul {
            position: relative;
        }
        ul:after {
            content: '';
            display: block;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
        li {
            display: block;
            padding-left: 15px;
            position: relative;
            z-index: 2;
            &:after {
                content: '';
                display: block;
                float: none;
                clear: both;
            }
            .bg-message {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: .1;
            }
            label {
                display: block;
                position: relative;
                z-index: 2;
            }
        }

        .chat-item-message {
            .user-pick {
                float: left;
                margin-top: 2px;
            }
            .chat-message-text {
                font-size: 1.6rem;
                padding-left: 9px;
            }
        }
        .chat-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .1;
        }
    }

    .chat-form {
        position: fixed;
        bottom: 0;
        height: $chat-form-height;
        width: $chat-content-width;
        border-top: 1px solid $border-color;
        padding: 0 15px;
        display: flex;
        align-items: stretch;
        background: #fff;

        .user-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.1;
        }

        form {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 100%;
        }

        .user-preview {
            display: flex;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 5px;
                width: 19px;
                height: 19px;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 4px;
                color: #fff;
            }
        }
        input {
            flex: 1 100%;
            display: block;
            line-height: 23px;
            font-size: 1.4rem;
        }
    }

}